:root {
    //COLOURS
    --black: #191919;
    --beige: #e8dcca;
    --sage: #96a480;
    --white: #fff;

    //FONTS
    --font-normal: "Montserrat", sans-serif;
    --font-cursive: "Italiana", serif;
}

body {
    background-color: var(--beige);
    min-height: 100vh;
    font-family: var(--font-normal);
}

.typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: var(--font-cursive);
        text-transform: uppercase;
    }
    h1 {
        font-size: 5rem;
        line-height: 5.2rem;
    }

    h2 {
        font-size: 4rem;
        line-height: 4.2rem;
    }
    h3 {
        font-size: 3.5rem;
        line-height: 3.7rem;
    }
    h4 {
        font-size: 3rem;
        line-height: 3.2rem;
    }
    h5 {
        font-size: 2.5rem;
        line-height: 2.7rem;
    }
    h6 {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    p {
        font-size: 1.4rem;
        line-height: 2.2rem;
        margin-bottom: 20px;
        & > a {
            position: relative;
            display: inline-block;
            &::after {
                content: "";
                position: relative;
                display: block;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: var(--sage);
                opacity: 0.5;
                transition: 0.25s;
            }
            &:hover {
                color: var(--sage);
                &::after {
                    width: 100%;
                    transition: 0.25s;
                }
            }
        }
        &.pretext {
            text-transform: uppercase;
            font-size: 1.2rem;
            line-height: 1.4rem;
            margin-bottom: 10px;
        }
    }
    a.attachment {
        position: relative;
        margin: auto 5px;
        padding: 19px 22px;
        transition: all 0.2s ease;
        display: flex;
        align-items: center;
        max-width: 300px;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            border-radius: 28px;
            background: var(--sage);
            width: 56px;
            height: 56px;
            transition: all 0.3s ease;
        }
        span {
            position: relative;
            font-size: 16px;
            line-height: 18px;
            font-weight: 900;
            letter-spacing: 0.25em;
            text-transform: uppercase;
            vertical-align: middle;
            &.hide {
                margin-right: 8px;
            }
        }
        i {
            margin-left: 10px;
            transform: translateX(-5px);
            transition: all 0.3s ease;
        }
        &:hover,
        &:focus {
            &::before {
                width: 100%;
                background: var(--sage);
            }
            i {
                transform: translateX(0);
            }
            &:active {
                transform: scale(0.96);
            }
        }
    }
}

.logo {
    border-radius: 2px;
}

.pagetitlesection {
    h2 {
        font-family: var(--font-normal);
        font-size: 1rem;
        line-height: 1.5rem;
        margin-bottom: 20px;
    }
    .backarrow {
        position: absolute;
        display: inline-block;
        top: 30px;
        right: 30px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        i {
            margin-right: 10px;
        }
        &::after {
            content: "";
            position: relative;
            display: block;
            bottom: 0;
            width: 0;
            height: 1px;
            background-color: var(--sage);
            opacity: 0.5;
            transition: 0.25s;
        }
        &:hover,
        &:focus {
            color: var(--sage);
            &::after {
                width: 100%;
                transition: 0.25s;
            }
        }
    }
}

.hero {
    flex: 1 1 550px;
    h2 {
        font-family: var(--font-normal);
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
.home-nav {
    flex: 1 1 60%;
    align-self: flex-end;
    .level1link {
        font-size: 12rem;
        line-height: 12.5rem;
        font-family: var(--font-cursive);
        transition: 0.3s ease-in-out;
        &:hover {
            transform: translate(-20px, 0%);
            transition: 0.3s ease-in-out;
        }
    }
}
.socials {
    a {
        i {
            font-size: 25px;
        }
        &:hover {
            color: var(--sage);
        }
    }
}

.projectlinks {
    flex: 1 1 100%;
    background-color: var(--black);
    color: var(--white);
    .linkcontainer {
        margin-bottom: 10px;
        .level1link {
            font-size: 6rem;
            line-height: 6.5rem;
            font-family: var(--font-cursive);
            &:hover {
                font-style: italic;
                transform: translate(-20px, 0%);
                transition: 0.3s ease-in-out;
            }
        }
        p {
            margin-top: -10px;
        }
    }
}

.about {
    background-color: var(--black);
    color: var(--white);
    .aboutimage {
        max-width: 350px;
        // transform: translateY(-33%);
        transform: translateY(-150px);
        position: relative;
        float: right;
        margin-left: 20px;
        margin-bottom: -130px;
    }
}

.contactdetails {
    background-color: var(--black);
    color: var(--white);
    p {
        margin-bottom: 30px;
        span {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    a {
        &:hover {
            color: var(--sage);
        }
        i {
            font-size: 25px;
        }
    }
}

body.project {
    height: 100%;
    main {
        display: flex;
        flex-flow: column;
        height: 100%;
        text-align: center;
        .pagetitlesection {
            text-align: center;
        }
        .content {
            flex: 1 1 100%;
            background-color: var(--black);
            color: var(--white);
            .inner {
                h2.subheading {
                    text-transform: inherit;
                    font-style: italic;
                    font-size: 2.5rem;
                    line-height: 3rem;
                    text-align: center;
                    max-width: 700px;
                    margin: 0 auto;
                    margin-bottom: 30px;
                }
                .technical {
                    max-width: 500px;
                    margin: 0 auto;
                    margin-bottom: 50px;
                    text-align: center;
                    h3 {
                        font-size: 2.5rem;
                        line-height: 2.7rem;
                        margin: 50px 0 15px 0;
                    }
                    ul {
                        column-width: 100px;
                        font-size: 1.2rem;
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}

body.pagenotfound {
    background-image: url("https://source.unsplash.com/c1Jp-fo53U8");
    background-size: cover;
}

small.copyright {
    position: absolute;
    left: 10px;
    font-size: 11px;
}
