@media only screen and (max-width: 1280px) {
    .hero {
        h1 {
            font-size: 4rem;
            line-height: 4.2rem;
        }
    }
    .home-nav {
        .level1link {
            font-size: 10rem;
            line-height: 10.5rem;
        }
    }
}

@media only screen and (max-width: 1280px) and (max-height: 900px) {
    .home-nav {
        .level1link {
            font-size: 8rem;
            line-height: 8.5rem;
        }
    }
}

//Macbook pro
@media only screen and (max-width: 1600px) and (max-height: 800px) {
    .hero {
        h1 {
            font-size: 4rem;
            line-height: 4.2rem;
        }
    }
    .home-nav {
        .level1link {
            font-size: 10rem;
            line-height: 10.2rem;
        }
    }
}

@media only screen and (max-width: 1280px) and (max-height: 800px) {
    .hero {
        h1 {
            font-size: 3rem;
            line-height: 3.2rem;
        }
    }
    .home-nav {
        .level1link {
            font-size: 8rem;
            line-height: 8.2rem;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .hero {
        h1 {
            font-size: 3.5rem;
            line-height: 3.7rem;
        }
    }
    .home-nav {
        .level1link {
            font-size: 8rem;
            line-height: 8.5rem;
        }
    }
    .about {
        .aboutimage {
            max-width: 250px;
        }
    }
    .projectlinks {
        .linkcontainer {
            .level1link {
                font-size: 5rem;
                line-height: 5.5rem;
            }
            p {
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 10px;
                margin-top: -5px;
            }
        }
    }
    small.copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    .hero {
        h1 {
            font-size: 3rem;
            line-height: 3.2rem;
        }
    }
    .home-nav {
        .level1link {
            font-size: 6rem;
            line-height: 6.5rem;
        }
    }
    .projectlinks {
        .linkcontainer {
            .level1link {
                font-size: 4rem;
                line-height: 4.5rem;
            }
        }
    }
    .attachmentcontainer {
        gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        h1 {
            font-size: 2.4rem;
            line-height: 2.8rem;
        }
    }
    .home-nav {
        .level1link {
            font-size: 4.5rem;
            line-height: 5rem;
        }
    }
    .about {
        .aboutimage {
            transform: translateY(-70px);
            margin-bottom: -50px;
            max-width: 150px;
            margin-left: 5px;
        }
        h2 {
            font-size: 3rem;
            line-height: 3.2rem;
        }
    }
    .projectlinks {
        .linkcontainer {
            .level1link {
                font-size: 3.5rem;
                line-height: 4rem;
            }
        }
    }
    .typography {
        h1 {
            font-size: 3.7rem;
            line-height: 4.2rem;
        }
    }
}

@media only screen and (max-width: 500px) {
    body.pagenotfound {
        .pagetitlesection {
            background-color: rgba(215, 186, 199, 0.7);
            margin: 20px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .home-nav {
        .level1link {
            font-size: 3rem;
            line-height: 3.5rem;
        }
    }
    .typography {
        a {
            &.attachment {
                span.hide {
                    display: none;
                }
            }
        }
    }
    .projectlinks {
        .linkcontainer {
            .level1link {
                font-size: 2.5rem;
                line-height: 3rem;
            }
            p {
                font-size: 0.8rem;
                line-height: 1.3rem;
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .typography {
        h1 {
            font-size: 3.2rem;
            line-height: 3.7rem;
        }
    }
    body.project {
        main {
            .content {
                .inner {
                    h2.subheading {
                        font-size: 1.8rem;
                        line-height: 2.3rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 300px) {
    .home-nav {
        .level1link {
            font-size: 2.7rem;
            line-height: 3.2rem;
        }
    }
    .typography {
        h1 {
            font-size: 2.7rem;
            line-height: 3.2rem;
        }
    }
}
