---
import Head from '../components/Head.astro';
import LogoBar from '../components/LogoBar.astro';
---
<!DOCTYPE html>
<html lang="en">
	<Head title="About | Amy Henke" description="Web Developer Portfolio"/>
	<body>
		<main class="typography">
            <div class="pagetitlesection flex justify-center flex-col px-8 py-10 max-w-screen-md">
				<LogoBar />
				<h1>About</h1>
				<h2>I'm Amy. A web developer, blah and blah.</h2>
				<p>A self-motivated and creative individual, with excellent organisational and interpersonal abilities. I have transitioned from a first-class History graduate to a Master of Computer Science with a Distinction, resulting in the development of adaptable and versatile characteristics. As a recent graduate, I am seeking to deepen my skills with the guidance of a cutting-edge company to become a fully-fledged web developer.</p>
                <a href="/" class="backarrow"><i class="fa-solid fa-left-long"></i> Back</a>
			</div>
        </main>
    </body>
</html>