---
import Layout from "../layouts/Layout.astro"
import LogoBar from "../components/LogoBar.astro"

const seo = {
    title: "Contact | Amy Henke",
    description: "Web Developer Portfolio",
    image: "../socialbanner.jpg",
    canonicalURL: "https://amyhenke.com/",
}
---

<Layout {...seo}>
    <main id="main" class="typography flex flex-col min-h-screen">
        <div class="pagetitlesection flex justify-center flex-col px-8 py-10">
            <LogoBar />
            <h1>Contact</h1>
            <h2>Lets keep things simple</h2>
            <a href="/" class="backarrow"
                ><i class="fa-solid fa-left-long"></i> Back</a
            >
        </div>
        <div class="contactdetails px-8 py-10 flex-1">
            <div class="content max-w-screen-lg m-auto text-center">
                <p>
                    <span>Email</span> - <a href="mailto:amyleehenke1@gmail.com"
                        >amyleehenke1@gmail.com</a
                    >
                </p>
                <a
                    href="https://www.linkedin.com/in/amy-henke-b8836b177/"
                    target="_blank"
                    aria-label="Linked In"
                    ><i class="fa-brands fa-linkedin-in"></i></a
                >
                <a
                    class="ml-2"
                    href="https://github.com/amyhenke"
                    target="_blank"
                    aria-label="Git Hub"><i class="fa-brands fa-github"></i></a
                >
                <a
                    class="ml-2"
                    href="https://codepen.io/amyhenke"
                    target="_blank"
                    aria-label="Code Pen"
                    ><i class="fa-brands fa-codepen"></i></a
                >
            </div>
        </div>
    </main>
</Layout>
