---
import Head from '../components/Head.astro';
import LogoBar from '../components/LogoBar.astro';
---
<!DOCTYPE html>
<html lang="en">
	<Head title="Amy Henke" description="Web Developer Portfolio"/>
	<body>
		<main class="typography min-h-screen flex flex-wrap justify-between">
			<div class="hero flex flex-col px-8 py-10">
				<LogoBar />
				<h1>Hey, <br/> I'm Amy Henke</h1>
				<h2>Web Developer. DIY Enthusiast. Animal Lover.</h2>
				<div class="socials mt-3">
					<a class="ml-1" href="https://www.linkedin.com/in/amy-henke-b8836b177/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
					<a class="ml-2 <!--ml-1-->" href="mailto:amyleehenke@gmail.com"><i class="fa-solid fa-envelope"></i></a>
				</div>
			</div>
			<div class="home-nav flex flex-col uppercase p-8 text-right">
				<a href="/portfolio" class="level1link">Portfolio</a>

				<a href="/about" class="level1link">About</a>

				<a href="/contact" class="level1link">Contact</a>
			</div>
		</main>
	</body>
</html>

<style lang="scss">
	.hero {
		flex: 1 1 550px;
		h2 {
			font-family: var(--font-normal);
			// font-size: 0.8rem;
        	// line-height: 1.2rem;
			font-size: 1rem;
    		line-height: 1.5rem;
		}
	}
	.home-nav {
		flex: 1 1 60%;
		align-self: flex-end;
		.level1link {
			font-size: 12rem;
			line-height: 12.5rem;
			font-family: var(--font-cursive);
			&:hover {
				font-style: italic;
				transform: translate(-20px, 0%);
				transition: 0.3s ease-in-out;
			}
		}
	}
	.socials {
		a {
			i {
				font-size: 25px;
			}
			&:hover {
				color: var(--sage);
			}
		}
	}

	@media only screen and (max-width: 1280px) {
		.hero {
			h1 {
				font-size: 4rem;
    			line-height: 4.2rem;
			}
		}
		.home-nav {
			.level1link {
				font-size: 10rem;
				line-height: 10.5rem;
			}
		}
	}
	
	@media only screen and (max-width: 1280px) and (max-height: 900px) {
		.home-nav {
			.level1link {
				font-size: 8rem;
				line-height: 8.5rem;
			}
		}
	}

	//Macbook pro
	@media only screen and (max-width: 1600px) and (max-height: 800px) {
.hero {
			h1 {
				font-size: 4rem;
    			line-height: 4.2rem;
			}
		}
		.home-nav {
			.level1link {
				font-size: 10rem;
				line-height: 10.2rem;
			}
		}
	}

	@media only screen and (max-width: 1280px) and (max-height: 800px) {
		.hero {
			h1 {
				font-size: 3rem;
    			line-height: 3.2rem;
			}
		}
		.home-nav {
			.level1link {
				font-size: 8rem;
				line-height: 8.2rem;
			}
		}
	}

	@media only screen and (max-width: 1000px) {
		.hero {
			h1 {
				font-size: 3.5rem;
    			line-height: 3.7rem;
			}
		}
		.home-nav {
			.level1link {
				font-size: 8rem;
				line-height: 8.5rem;
			}
		}
	}

	@media only screen and (max-width: 800px) {
		.hero {
			h1 {
				font-size: 3rem;
    			line-height: 3.2rem;
			}
		}
		.home-nav {
			.level1link {
				font-size: 6rem;
				line-height: 6.5rem;
			}
		}
	}

	@media only screen and (max-width: 600px) {
		.hero {
			h1 {
				font-size: 2.4rem;
    			line-height: 2.8rem;
			}
		}
		.home-nav {
			.level1link {
				font-size: 4.5rem;
				line-height: 5rem;
			}
		}
	}

	@media only screen and (max-width: 400px) {
		.home-nav {
			.level1link {
				font-size: 3rem;
				line-height: 3.5rem;
			}
		}
	}

	@media only screen and (max-width: 300px) {
		.home-nav {
			.level1link {
				font-size: 2.7rem;
    			line-height: 3.2rem;
			}
		}
	}

</style>
