---
import Layout from "../layouts/Layout.astro"
import LogoBar from "../components/LogoBar.astro"
import ProjectPreview from "../components/ProjectPreview.astro"

const seo = {
    title: "Portfolio | Amy Henke",
    description: "Web Developer Portfolio",
    image: "../socialbanner.jpg",
    canonicalURL: "https://amyhenke.com/portfolio",
}

let allProjects = await Astro.glob("./projects/*.md")
allProjects = allProjects.sort(
    (a, b) =>
        new Date(b.frontmatter.date).valueOf() -
        new Date(a.frontmatter.date).valueOf()
)
---

<Layout {seo}>
    <main id="main" class="typography flex flex-col min-h-screen">
        <div class="pagetitlesection flex justify-center flex-col px-8 py-10">
            <LogoBar />
            <h1>Portfolio</h1>
            <h2>Explore my work</h2>
            <div class="socials mt-3">
                <a
                    class="ml-2"
                    href="https://github.com/amyhenke"
                    target="_blank"
                    aria-label="Git Hub"><i class="fa-brands fa-github"></i></a
                >
                <a
                    class="ml-2"
                    href="https://codepen.io/amyhenke"
                    target="_blank"
                    aria-label="Code Pen"
                    ><i class="fa-brands fa-codepen"></i></a
                >
            </div>
            <a href="/" class="backarrow"
                ><i class="fa-solid fa-left-long"></i> Back</a
            >
        </div>
        <div
            class="projectlinks flex flex-col uppercase p-4 text-right sm:p-8 lg:p-20"
            aria-label="Project list"
        >
            {allProjects.map(p => <ProjectPreview project={p} />)}
            <!-- 
					Ecommerce - Built with Node.js
					Social Platform - Built with Javascript 
				-->
        </div>
    </main>
</Layout>
