---
import Head from '../components/Head.astro';
import LogoBar from '../components/LogoBar.astro';
import ProjectPreview from '../components/ProjectPreview.astro';

let allProjects = await Astro.glob('./projects/*.md');
allProjects = allProjects.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
---
<!DOCTYPE html>
<html lang="en">
	<Head title="Portfolio | Amy Henke" description="Web Developer Portfolio"/>
	<body>
		<main class="typography flex flex-col min-h-screen">
            <div class="pagetitlesection flex justify-center flex-col px-8 py-10">
				<LogoBar />
				<h1>Portfolio</h1>
				<h2>Explore my work</h2>
                <a href="/" class="backarrow"><i class="fa-solid fa-left-long"></i> Back</a>
			</div>
			<div class="projectlinks flex flex-col uppercase p-8 text-right md:p-20" aria-label="Project list">
				{allProjects.map((p) => <ProjectPreview project={p} />)}
				<!-- <div class="linkcontainer">
					<a href="#" class="level1link">Ecommerce</a>
					<p>- Built with Node.js</p>
				</div>
				<div class="linkcontainer">
					<a href="#" class="level1link">Social Platform</a>
					<p>- Built with Javascript</p>
				</div> -->
			</div>
        </main>
    </body>
</html>