<nav>
    <div class="relative flex items-center justify-between h-16 pb-8">
        <a href="/">
          <img class="logo block h-8 w-auto" src="/logo.jpg" alt="Amy Henke">
        </a>
    </div>
</nav>
