---
export interface Props {
	project: any;
}

const { project } = Astro.props;
---

<div class="linkcontainer">
    <a href={project.url} class="level1link pr-2.5">{project.frontmatter.title}</a>
    <p class="pr-2.5">- {project.frontmatter.subtitle}</p>
</div>