---
import Head from "../components/Head.astro"

export interface Props {
    seo?: Props
    bodyClass?: Props
}

const { seo } = Astro.props
const { bodyClass } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <Head {...seo} />

    <body class={bodyClass}>
        <a href="#main" id="skip-main">Skip to main content</a>

        <slot />
        <link href="/fontawesome/css/all.css" rel="stylesheet" />
    </body>
</html>
